tensorflow==2.12.0
pandas 
gdown
dvc
mlflow==2.2.2
setuptools
numpy
matplotlib
seaborn
scikit-learn
Pillow
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
fastapi
uvicorn[standard]
jinja2
python-multipart
prometheus-client
dagshub
-e .